@{
    ViewData["Title"] = "Projects";
}

<div class="projects-div">
    <p class="projects-h1 title-reveal"><span class="title-part">My</span> <span class="title-part gradient-text">Projects</span></p>
    <p class="reveal text-white-50">Here are my mini-projects showcasing my design and skills!</p>

    <div class="projects-content-div">
        @* My Page *@
        <div class="project-card reveal-fast">
            <img src="~/images/mypage.jpeg" alt="mypage" class="project-image" />
            <div class="project-details p-3">
                <p class="project-title gradient-text fw-bold">MyPage</p>
                <p class="project-detail">The page you're browsing right now :D It shows my information and skills.</p>
                <div class="mt-2">
                    <span class="project-skill">Web</span>
                    <span class="project-skill">ASP.NET Core</span>
                    <span class="project-skill">Bootstrap</span>
                </div>
                <div class="project-button">
                    <i class="fa-brands fa-github"></i>
                    <a href="https://github.com/AustinCKR/MyPage" target="_blank" rel="noopener noreferrer">View Code</a>
                </div>
            </div>
        </div>
        @* Customer Support System *@
        <div class="project-card reveal-fast">
            <img src="~/images/customer-support-system.png" alt="customer support system" class="project-image" />
            <div class="project-details p-3">
                <p class="project-title gradient-text fw-bold">Cutomer Support System</p>
                <p class="project-detail">A platform integrating WhatsApp, Messenger, and web chat, offering unified messaging along with a dashboard, team management, and video calls.</p>
                <div class="mt-2">
                    <span class="project-skill">Web</span>
                    <span class="project-skill">React JS</span>
                    <span class="project-skill">Laravel</span>
                    <span class="project-skill">Tailwind CSS</span>
                </div>
                <div class="project-button-disabled">
                    <i class="fa-solid fa-lock"></i>
                    <span>Private — Protected by NDA</span>
                </div>
            </div>
        </div>
        @* Park Guide Leaning Management System *@
        <div class="project-card reveal-fast">
            <img src="~/images/park-guide-learning-management-system.png" alt="park guide learning management system" class="project-image" />
            <div class="project-details p-3">
                <p class="project-title gradient-text fw-bold">Park Guide Leaning Management System</p>
                <p class="project-detail">A system for park guides learn through modules and take exams for licensing, while tutors create modules, manage a dashboard, and grade exams. Visitors can submit ratings via a mobile app.</p>
                <div class="mt-2">
                    <span class="project-skill">Web</span>
                    <span class="project-skill">Mobile</span>
                    <span class="project-skill">React Native</span>
                    <span class="project-skill">Laravel</span>
                    <span class="project-skill">Tailwind CSS</span>
                </div>
                <div class="project-button">
                    <i class="fa-brands fa-github"></i>
                    <a href="https://github.com/moffycream/COS30049-SFC" target="_blank" rel="noopener noreferrer">View Code</a>
                </div>
                <div class="project-button project-button-youtube">
                    <i class="fa-brands fa-youtube"></i>
                    <a href="https://www.youtube.com/watch?v=DcDrABQW5l8" target="_blank" rel="noopener noreferrer">View Demo Video</a>
                </div>
            </div>
        </div>
        @*AJK Smart Home Application*@
        <div class="project-card reveal-fast">
            <img src="~/images/ajk-smart-home-application.png" alt="ajk smart home application" class="project-image" />
            <div class="project-details p-3">
                <p class="project-title gradient-text fw-bold">AJK Smart Home Application</p>
                <p class="project-detail">Smart home system that intergrate light, fan and door. User able to control using website or Discord bot. Website also able to control and configure setting and see dashboard.</p>
                <div class="mt-2">
                    <span class="project-skill">IoT</span>
                    <span class="project-skill">Raspberry Pi</span>
                    <span class="project-skill">Arduino</span>
                </div>
                <div class="project-button project-button-youtube">
                    <i class="fa-brands fa-youtube"></i>
                    <a href="https://www.youtube.com/watch?v=bmuZB6soUXs" target="_blank" rel="noopener noreferrer">View Demo Video</a>
                </div>
            </div>
        </div>
        @*Pokemon Survivor*@
        <div class="project-card reveal-fast">
            <img src="~/images/pokemon-survivor.png" alt="pokemon survivor" class="project-image project-image-scaledown" />
            <div class="project-details p-3">
                <p class="project-title gradient-text fw-bold">Pokemon Survivor</p>
                <p class="project-detail">A mini roguelike inspired by Vampire Survivors with Pokemon elements. Players defeat monsters to level up weapons during each run and use earned coins afterward to buy upgrades.</p>
                <div class="mt-2">
                    <span class="project-skill">Game</span>
                    <span class="project-skill">C++</span>
                    <span class="project-skill">Data Structure</span>
                </div>
                <div class="project-button">
                    <i class="fa-brands fa-github"></i>
                    <a href="https://github.com/AustinCKR/COS30008-Data-Structures-And-Patterns/tree/main/PokemonSurvivor" target="_blank" rel="noopener noreferrer">View Code</a>
                </div>
                <div class="project-button project-button-youtube">
                    <i class="fa-brands fa-youtube"></i>
                    <a href="https://www.youtube.com/watch?v=U2YQSeItQqQ" target="_blank" rel="noopener noreferrer">View Demo Video</a>
                </div>
            </div>
        </div>
        @* Bluedit *@
        <div class="project-card reveal-fast">
            <img src="~/images/mypage.jpeg" alt="bluedit" class="project-image" />
            <div class="project-details p-3">
                <p class="project-title gradient-text fw-bold">Bluedit</p>
                <p class="project-detail">A mini mobile forum application where users can subscribe to topics they like, post threads, comment on threads, and react to threads or reply to other users.</p>
                <div class="mt-2">
                    <span class="project-skill">Mobile</span>
                    <span class="project-skill">Android</span>
                    <span class="project-skill">Kotlin</span>
                </div>
                <div class="project-button">
                    <i class="fa-solid fa-file-pdf"></i>
                    <a href="@Url.Content("~/documents/Bluedit_Report.pdf")" target="_blank" rel="noopener noreferrer">View Report</a>
                </div>
            </div>
        </div>
        <div class="project-card reveal-fast">
            <img src="~/images/mypage.jpeg" alt="mypage" class="project-image" />
            <div class="project-details p-3">
                <p class="project-title gradient-text fw-bold">Frog Parkour</p>
                <p class="project-detail">A simple parkour game developed with Unity.</p>
                <div class="mt-2">
                    <span class="project-skill">Game</span>
                    <span class="project-skill">Unity</span>
                    <span class="project-skill">C#</span>
                </div>
                <div class="project-button">
                    <i class='fas fa-play-circle'></i>
                    <a asp-controller="Playground" asp-action="UnityGame" asp-route-gameName="MyProject" target="_blank" rel="noopener noreferrer">Play Now</a>
                </div>
            </div>
        </div>

    </div>

    <!--Navigation button -->
    <div class="link-div abt-me-link-div reveal d-flex justify-content-center">
        <a class="link-back text-white text-decoration-none underline-animate" asp-area="" asp-controller="Home" asp-action="AboutMe">
            <i class="fa-solid fa-up-long link-icon-back"></i>
            Who am I?
        </a>
        <a class="link text-white text-decoration-none underline-animate" asp-area="" asp-controller="Home" asp-action="Credits">
            Credits
            <i class="fa-solid fa-up-long link-icon"></i>
        </a>
    </div>
</div>