/*----------Game Not Found----------*/
.gnf-div {
    margin-top: 80px;
    font-size: 1.25rem;
    font-weight: 500;
    width: 100vw;
    height: calc(100vh - 20vh - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.prev-btn {
    text-decoration: none;
    font-weight: 500;
    color: white;
    text-align: center;
    padding: 10px;
    border: solid 1px white;
    border-radius: 8px;
    margin-top: 20px;
    background-color: rgba(127,127,127,0.2);
    transition: all 200ms ease;
}

.prev-btn:hover {
    background-color: rgba(127,127,127,0.4);
    text-decoration: none;
    color: white;
    cursor: pointer;
    transition: all 200ms ease;
}