/*----------Home page----------*/
.home > p {
    font-size: 3rem;
    font-weight: bold;
}

.home-social-media {
    gap: 25px;
}

.home-social-media > a {
    transition: ease 0.2s;
}

.home-social-media > a:hover {
    transition: ease 0.2s;
    transform: translateY(-5px);
}
